[submodule "Kinect/libfreenect2"]
	path = Kinect/libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "Kinect/openpose"]
	path = Kinect/openpose
	url = https://github.com/AlecDusheck/openpose.git
[submodule "Kinect/iai_kinect2"]
	path = Kinect/iai_kinect2
	url = https://github.com/code-iai/iai_kinect2.git
[submodule "Kinect/ros_openpose"]
	path = Kinect/ros_openpose
	url = https://github.com/ravijo/ros_openpose.git
[submodule "Kinect/SCKinect"]
	path = Kinect/SCKinect
	url = https://github.com/L42i/SCKinect.git
