[submodule "Kinect/libfreenect2"]
	path = Kinect/libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "Kinect/openpose"]
	path = Kinect/openpose
	url = https://github.com/AlecDusheck/openpose.git
